body{
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;

}

a {
  text-decoration: none;
}



.intothejoongcheon {
  position: relative;
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  
}

.intothejoongcheon h2{
  font-size: 70px;
  font-weight: 800;
  letter-spacing : -5px

}

/* submenu */

.submenu_off{
  position: fixed;
  background: url(./img/btn_open_aside.png);
  width: 300px;
  height: 85px;
  z-index: 700;
  right: 0;
  transition: all .4s
}

.submenu_off.on{
  position: fixed;
  right: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.submenu_off .submenu_off_btn{
  position: fixed;
  right: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}


.submenu_on {
  display: block;
  z-index: 800;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #111;
  right: 0;
  transition: all .4s;
  transform: translate(300px,0);
  
}
.submenu_on.on {
  z-index: 800;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #111;
  right: 0;
  transform: translate(0,0);
}

.submenu_close {
  display: block;
  right: 300px;
  z-index: 800;
  position: fixed;
  background: url(./img/aside_close.png);
  width: 85px;
  height: 85px;
  transform: translate(400px,0);
  transition: all .4s;
}
.submenu_close.on{
  transform: translate(0px,0);
}

.submenu_on ul{
  padding-top: 9px;
}

.submenu_on li{
  text-align: left;
  font-size: 30px;
  padding: 22px 0 8px 29px;
  color: #404040;
  transition: all .2s;
}
.submenu_on li:hover{
  color: #e32443;
}



.submenu_on li a{

}

/* menu */

.menu {
  z-index: 9000;
  right: 240px;
  position: fixed;
  background-color: #f2f4f6;
  width: 1260px;
  border-left: 1px solid #818692;
  border-right: 1px solid #818692;
  display: none;
}
.menu.on {
  display: block;
  opacity: 1;
  z-index: 9000;
  right: 240px;
  position: fixed;
  background-color: #f2f4f6;
  width: 1260px;
  border-left: 1px solid #818692;
  border-right: 1px solid #818692;
}

.ttmenu {
  display: flex;
  margin-top: 30px;

}

.ttmenu ul{
  border-right: 1px solid #dcdee8;
  text-align: center;
  width: 140px;
  

}
.ttmenu ul li{
  text-align: center;
}
.ttmenu li.li1{
  margin-bottom: 10px;

}

.ttmenu ul li a {
  line-height: 24px;
  display: block;
  text-align: center;
  color: #a2a5ac;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
}

.ttmenu ul li a:hover{
    color: #3392ff;
}

.qmenu {
  padding: 28px 50px 30px 0px;
  text-align: right;
  border-bottom: 1px solid #818692;
}


.qmenu a{
    display: inline-block;
    padding-left: 39px;
    margin-left: 30px;
    background: url(../img/ico_open_nav.png) no-repeat;
    line-height: 31px;
    color: #6a6e76;
    font-size: 14px;
    font-weight: 500;
}
.qmenu a:nth-child(2){
  background-position-y: -50px;
}


/* submenu */






/* login bar */
.login_bar {
  display: flex;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #3f4554;
  border-bottom: 1px solid #1d2127;
  z-index: 8000;
}

.login_bar .left_item {
  display: flex;
  align-items: center;
}

.login_bar .lb_logo {
  background-image: url(./img/lognbar_logo.png);
  width: 140px;
  height: 49px;
  text-indent: -9999px;
}

.login_bar a.lb_btn.nx {
  background-color: #3392ff;
  border-radius: 0 2px 2px 0;
  ;
}

.login_bar a.lb_btn.df {
  background-color: #565b68;
  ;
  border-radius: 2px 0 0 2px;
  ;
}

.login_bar a.lb_btn {
  width: 110px;
  height: 34px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
  text-indent: 0;
}

.right_item {
  margin-left: auto;
  display: flex;
}

.login_bar .lb_btn_gs {
  width: 240px;
  height: 49px;
  background-image: url(./img/lognbar_gamestart.png);
  text-indent: -9999px;
}

.login_bar .lb_btn_nav {
  width: 55px;
  height: 49px;
  background-image: url(./img/btn_open_nav.png);
  cursor: pointer;
}

.login_bar .lb_btn_nav.close {
  width: 55px;
  height: 49px;
  background: url(./img/btn_open_nav.png)  0 -100px;;
  cursor: pointer;
  text-indent: -9999px;
}






.bnrs{
  position: absolute;
}


.bnrs a {
  display: block;
  width: 260px;
  height: 120px;
  margin-bottom: 1px;
}

/* section */

.visual_fix {

}

section .tvfbox_img {
  width: 100%;
  height: 1600px;
  background: url(./img/intro_bg2.jpg) no-repeat;
  background-position: center;
}

.cloudb{
  background: url(./img/intro_cloud_b.png);
  width: 100%;
  height: 1600px;
  position: absolute;
  top: 0;
  background-position: center;
}

section.section1 {
  background: url(./img/s1_bg.jpg);
  height: 1680px;
}


section.section1 .txt1{
  margin-top: 200px;
  opacity: 0;
  transform: translate(0,50px);
  transition: all .7s;
}
section.section1 .txt1.on{
  opacity: 1;
  transform: translate(0,0);
}

section .txt2{
  margin-top: 50px;
  font-size: 20px;
  color: #666;
  opacity: 0;
  transition: all .7s;
  transform: translate(0,50px);
}

section .txt2.on{
  opacity: 1;
  transform: translate(0,0px);
}

section.section1 .txt3{
  margin-top: 100px;
  font-size: 60px;
  opacity: 0;
  transform: translate(0,50px);
  transition: all .7s;
}
section.section1 .txt3.on{
  opacity: 1;
  transform: translate(0,0);
}

section .txt4{
  margin-top: 30px;
  font-size: 20px;
  color: #666;
  opacity: 0;
  transition: all .7s;
  transform: translate(0,50px);
}

section .txt4.on{
  opacity: 1;
  transform: translate(0,0px);
}


.secimg1 {
  margin-top: 100px;
  background: url(img/s1_c1.png) no-repeat;
  width: 100%;
  height: 900px;
  background-position: center;
  border-radius: 40px;
  opacity: 0;
  transition: all .7s;
  transform: translate(0,50px);
}

.secimg1.on {
  opacity: 1;
  transform: translate(0,0px);
}

/* 섹션2 */

section.section2 {
  position: relative;
  background-position: center;
  height: 1680px;
  margin-top: -300px;
}


/* 첫번째 */
.scene1 .bg1{
  position: absolute;
  background: url(./img/s2_bg1.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 10;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
.scene1 .bg1.show{
  position: absolute;
  background: url(./img/s2_bg1.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 10;
  background-position: center;
  opacity: 1;
}


section.section2 .c1{
  position: absolute;
  background: url(./img/s2_c1.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);
}

section.section2 .c1.show{
  position: absolute;
  background: url(./img/s2_c1.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  transform: translate(0,0);
  opacity: 1;
}


section.section2 .c2{
  position: absolute;
  background: url(./img/s2_c2.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 12;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c2.show{
  position: absolute;
  background: url(./img/s2_c2.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 12;
  opacity: 1;
  transform: translate(0px,0);
}

section.section2 p.t1{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 15;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
  transition-delay: .2s;
}
section.section2 p.t1.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 15;
  opacity: 1;
  transform: translate(0,0px);
}
section.section2 p.t2{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 16;
  opacity: 0;
  transform: translate(0,100px);
  transition: all .55s;
  transition-delay: .2s;
}
section.section2 p.t2.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 16;
  opacity: 1;
  transform: translate(0,0px);
}
/* 두번째 */

section.section2 .bg2{
  position: absolute;
  background: url(./img/s2_bg2.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 9;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
section.section2 .bg2.show{
  position: absolute;
  background: url(./img/s2_bg2.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 9;
  background-position: center;
  opacity: 1;
  transition: all .55s;
}

section.section2 .c3{
  position: absolute;
  background: url(./img/s2_c3.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);
}
section.section2 .c3.show{
  position: absolute;
  background: url(./img/s2_c3.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  transition: all .55s;
  opacity: 1;
  transform: translate(0px,0);
}
section.section2 .c4{
  position: absolute;
  background: url(./img/s2_c4.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c4.show{
  position: absolute;
  background: url(./img/s2_c4.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transition: all .55s;
  transform: translate(0,0);
}

section.section2 p.t3{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
}
section.section2 p.t3.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 1;
  transform: translate(0,0);
  transition-delay: .2s;
}
section.section2 p.t4{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);

}
section.section2 p.t4.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 1;
  transform: translate(0,0);
  transition-delay: .2s;
}

/* 세번째 */


section.section2 .bg3{
  position: absolute;
  background: url(./img/s2_bg3.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
section.section2 .bg3.show{
  position: absolute;
  background: url(./img/s2_bg3.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 1;
}

section.section2 .c5{
  position: absolute;
  background: url(./img/s2_c5.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);
}
section.section2 .c5.show{
  position: absolute;
  background: url(./img/s2_c5.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transform: translate(0px,0);
}
section.section2 .c6{
  position: absolute;
  background: url(./img/s2_c6.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c6.show{
  position: absolute;
  background: url(./img/s2_c6.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 1;
  transform: translate(0px,0);
}

section.section2 p.t5{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
}
section.section2 p.t5.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 1;
  transform: translate(0,0);
}
section.section2 p.t6{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
}
section.section2 p.t6.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 1;
  transition: all .5s;
  transform: translate(0,0);
}
/* 네번째 */
section.section2 .bg4{
  position: absolute;
  background: url(./img/s2_bg4.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
section.section2 .bg4.show{
  position: absolute;
  background: url(./img/s2_bg4.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 1;
}

section.section2 .c7{
  position: absolute;
  background: url(./img/s2_c7.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);
}
section.section2 .c7.show{
  position: absolute;
  background: url(./img/s2_c7.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 1;
  transform: translate(0px,0);
}
section.section2 .c8{
  position: absolute;
  background: url(./img/s2_c8.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c8.show{
  position: absolute;
  background: url(./img/s2_c8.png) no-repeat;
  background-position: center;  
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transform: translate(0px,0);
}

section.section2 p.t7{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
  transition-delay: .2s;
}
section.section2 p.t7.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 1;
  transform: translate(0,0);
}
section.section2 p.t8{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
  transition-delay: .2s;
}
section.section2 p.t8.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 1;
  transform: translate(0,0);
}


.bu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 240px;
    margin-left: -90px;
    width: 180px;
    height: 56px;
    border-radius: 28px;
    background: rgba(0, 0, 0, .37);
    z-index: 30;
}

.bu_btn a{
  margin: 0 10px;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #333;
  text-indent: -9999px;
  cursor: pointer;
}
.bu_btn a.on{
background-color: #e32443;
}

.left_btn {
  background: url(./img/btn_prev.png) no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 800px;
  left: 100px;
  z-index: 50;
  cursor: pointer;
}
.right_btn {
  background: url(./img/btn_next.png) no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 800px;
  right: 100px;
  z-index: 40;
  cursor: pointer;
}



/* section3 */



.intothejoongcheon section.section3 {
  background: url(./img/s3_bg.jpg) center no-repeat;
  top: -150px;
  height: 2100px;
  padding: 1px;
  position: relative;
}

.intothejoongcheon section.section3 h2{
  position: absolute;
  width: 100%;
  margin-top: 150px;
  font-size: 70px;
  color: white;
  transform: translate(0,50px);
  opacity: 0;
  transition: all .5s;
}
.intothejoongcheon section.section3 h2.on{
  position: absolute;
  width: 100%;
  margin-top: 150px;
  font-size: 70px;
  color: white;
  transform: translate(0,0px);
  opacity: 1;
}


.intothejoongcheon section.section3 h3{
  width: 100%;
  margin-top: 250px;
  font-size: 25px;  
  color: white;
  transition: all .5s;
  transform: translate(0,50px);
  opacity: 0;
}
.intothejoongcheon section.section3 h3.on{
  width: 100%;
  margin-top: 250px;
  font-size: 25px;  
  color: white;
  transform: translate(0,20px);
  opacity: 1;
}

section.section3 .s3obj1{
  background: url(./img/s3_c1.png) no-repeat center;
  position: absolute;
  height: 280px;
  width: 100%;
  top: 400pX;
  transition: all .5s;
  transform: translate(0,50px);
  opacity: 0;
}
  
section.section3 .s3obj1.on{
  background: url(./img/s3_c1.png) no-repeat center;
  position: absolute;
  height: 280px;
  width: 100%;
  top: 400pX;
  transform: translate(0,0px);
  opacity: 1;
}
  
section.section3 .s3obj2{
  background: url(./img/s3_c2.png) no-repeat center;
  position: absolute;
  height: 300px;
  width: 100%;
  top: 600px;
  transition: all .5s;
  transform: translate(0,50px);
  opacity: 0;
}
section.section3 .s3obj2.on{
  background: url(./img/s3_c2.png) no-repeat center;
  position: absolute;
  height: 300px;
  width: 100%;
  top: 600px;
  transition: all .5s;
  transform: translate(0,0px);
  opacity: 1;
}

section.section3 .card-box {
  position: absolute;
  width: 1440px;
  height: 1200px;
  margin-left: -720px;
  top: 850px;
  left: 50%;
  transition: all .5s;
  transform: translate(0,50px);
  opacity: 0;
  
}
section.section3 .card-box.on {
  position: absolute;
  width: 1440px;
  height: 1200px;
  margin-left: -720px;
  top: 850px;
  left: 50%;
  transform: translate(0,0);
  opacity: 1;
}

section.section3 .cardbox1 {
  position: absolute;
  left: 0;
  width: 460px;
  height: 700px;
  overflow: hidden;
}
section.section3 .card1 {
  position: absolute;
  left: 0;
  width: 460px;
  height: 700px;
  background-image: url(./img/s3_card1.png);
  transition: all .4s;
}

section.section3 .card1:hover {
  transform: scale(1.2);
}

section.section3 .cardbox1 b{
  position: absolute;
  display: block;
  color: white;
  font-size: 40px;
  margin-top:  270px;
  letter-spacing: -3px;
  left: 60px;
}

section.section3 .cardbox1 span{
  position: absolute;
  display: block;
  color: white;
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
  top:50%;
  left: 35px;
  transform: translate(0,-40px);
}
section.section3 .cardbox1 .d0109{
  position: absolute;
  transform: translate(150px,385px);
  display: block;
  height: 36px;
  width: 190px;
  margin: 0 auto;
  margin-top: 14px;
  background-image: url(/img/update_0109.png) ;
  
}



section.section3 .cardbox2 {
  position: absolute;
  left: 490px;
  width: 460px;
  height: 700px;
  overflow: hidden;
}
section.section3 .cardbox2 .card2 {
  position: absolute;
  background: url(/img/s3_card2.png) no-repeat ;
  width: 460px;
  height: 700px;
  transition: all .4s;
}
section.section3 .card2:hover {
  transform: scale(1.1);
}

section.section3 .cardbox2 b{
  position: absolute;
  display: block;
  color: white;
  font-size: 40px;
  margin-top:  270px;
  letter-spacing: -3px;
  transform: translate(135px, 4px);

}
section.section3 .cardbox2 span{
  position: absolute;
  display: block;
  color: white;
  margin-top: 15px;
  font-size: 17px;
  line-height: 30px;
  transform: translate(22px,312px);
}

section.section3 .cardbox2 .d0109{
  position: absolute;
  display: block;
  height: 36px;
  width: 190px;
  margin: 0 auto;
  margin-top: 14px;
  background-image: url(/img/update_0109.png);
  transform: translate(140px,384px);
}



section.section3 .cardbox3 {
  position: absolute;
  right: 0;
  width: 460px;
  height: 700px;
  overflow: hidden;
}
section.section3 .card3 {
  position: absolute;
  right: 0;
  background: url(/img/s3_card3.png) no-repeat ;
  width: 460px;
  height: 700px;
  transition: all .4s
}
section.section3 .card3:hover {
transform: scale(1.1);
}


section.section3 .cardbox3 b{
  position: absolute;
  display: block;
  color: white;
  font-size: 40px;
  margin-top:  270px;
  letter-spacing: -3px;
  transform: translate(107px,10px)
}
section.section3 .cardbox3 span{
  position: absolute;
  display: block;
  color: white;
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
  transform:translate(40px,315px)
}

section.section3 .cardbox3 .d0109{
  position: absolute;
  display: block;
  height: 36px;
  width: 190px;
  margin: 0 auto;
  margin-top: 14px;
  background-image: url(/img/update_0109.png);
  transform: translate(130px,380px)
}


section.section3 .cardbox4 {
  position: absolute;
  top: 730px;
  width: 705px;
  height: 420px;
  overflow: hidden;
}
section.section3 .card4 {
  position: absolute;
  top: 0px;
  background: url(/img/s3_card4.png) no-repeat ;
  width: 705px;
  height: 420px;
  transition: all .4s;
}
section.section3 .card4:hover {

  scale: 1.1;
}

section.section3 .cardbox4 b{
  position: absolute;
  transform: translate(280px,0px);
  display: block;
  color: white;
  font-size: 40px;
  margin-top:  140px;
  letter-spacing: -3px;
}
section.section3 .cardbox4 span{
  position: absolute;
  transform: translate(210px,180px);
  display: block;
  color: white;
  margin-top: 15px;
  font-size: 17px;
  line-height: 30px;
}

section.section3 .cardbox4 .d0300{
  position: absolute;
  transform: translate(270px,250px);
  display: block;
  height: 36px;
  width: 170px;
  margin: 0 auto;
  margin-top: 14px;
  background-image: url(/img/update_03.png) ;
  background-repeat: no-repeat;
}



section.section3 .cardbox5 {
  position: absolute;
  top: 730px;
  width: 705px;
  height: 420px;
  right: 0;
  overflow: hidden;
}
section.section3 .card5 {
  position: absolute;
  top: 0px;
  background: url(/img/s3_card5.png) no-repeat ;
  width: 705px;
  height: 420px;
  right: 0;
  transition: all .4s;
}
section.section3 .card5:hover {
scale: 1.1;
}

section.section3 .cardbox5 b{
  position: absolute;
  transform: translate(240px,0px);
  display: block;
  color: white;
  font-size: 40px;
  margin-top:  140px;
  letter-spacing: -3px;
}
section.section3 .cardbox5 span{
  display: block;
  color: white;
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
  position: absolute;
  transform: translate(100px,180px);
}

section.section3 .cardbox5 .d0500{
  display: block;
  height: 36px;
  width: 170px;
  margin: 0 auto;
  margin-top: 14px;
  background-image: url(/img/update_05.png) ;
  background-repeat: no-repeat;
  transform: translate(270px,250px);
  position: absolute;
}


/* section4 */

.intothejoongcheon section.section4 {
  position: relative;
  top: -152px;;
  background: url(./img/s4_bg.jpg) center no-repeat;
  width: 100%;
  height: 1400px;
  padding: 1px;
}

.intothejoongcheon section.section4 h2{
  position: absolute;
  width: 100%;
  margin-top: 150px;
  font-size: 70px;
  color: white;
  transform: translate(0,50px);
  opacity: 0;
  transition: all .5s;
}
.intothejoongcheon section.section4 h2.on{
  position: absolute;
  width: 100%;
  margin-top: 150px;
  font-size: 70px;
  color: white;
  transform: translate(0,0);
  opacity: 1;

}

section.section4 .d0109{
  background: url(./img/update_0109.png);
  width: 190px;
  height: 34px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all .5s;
}
section.section4 .d0109.on{
  background: url(./img/update_0109.png);
  width: 190px;
  height: 34px;
  transform: translate(0, 0px);
  opacity: 1;
  transition: all .5s;

}


.intothejoongcheon section.section4 h3{
  width: 100%;
  margin-top: 250px;
  font-size: 21px;  
  line-height: 35px;
  letter-spacing: -1px;
  color: white;
  transform: translate(0,50px);
  opacity: 0;
  transition: all .5s;
}
.intothejoongcheon section.section4 h3.on{
  width: 100%;
  margin-top: 250px;
  font-size: 21px;  
  line-height: 35px;
  letter-spacing: -1px;
  color: white;
  transform: translate(0,0px);
  opacity: 1;
}


 section.section4 .d0109 {
  background: url(./img/update_0109.png);
  width: 190px;
  height: 36px;
  margin: 0 auto;
  margin-top: 15px;
}



section.section4 .obj1 {
  position: absolute;
  background: url(./img/s4_c1.png) no-repeat center;
  width: 100%;
  height: 1400px;
  top: 0px;
  transform: translate(0,50px);
  opacity: 0;
  transition: all .5s;
}
section.section4 .obj1.on {
  position: absolute;
  background: url(./img/s4_c1.png) no-repeat center;
  width: 100%;
  height: 1400px;
  top: 0px;
  transform: translate(0,0);
  opacity: 1;
  transition: all .5s;
}

section.section4 .obj2 {
  position: absolute;
  background: url(./img/s4_c2.png) no-repeat center;
  width: 100%;
  height: 1400px;
  top: 0px;
  transform: translate(0,50px);
  opacity: 0;
  transition: all .5s;
}
section.section4 .obj2.on {
  position: absolute;
  background: url(./img/s4_c2.png) no-repeat center;
  width: 100%;
  height: 1400px;
  top: 0px;
  transform: translate(0,0px);
  opacity: 1;
  transition: all .5s;
}

/* section5 */

  section.section5 {
    margin-top: -152px;
    background: url(./img/s5_bg.jpg) no-repeat center;
    width: 2560px;
    height: 1400px;
    position: relative;
    padding: 0.1px;
    margin: 0 auto;
    transform: translate(0,-154px);
  }

  section.section5 h2{
    position: absolute;
    width: 100%;
    margin-top: 150px;
    font-size: 70px;
    color: white;
    transform: translate(0,50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section5 h2.on{
    position: absolute;
    width: 100%;
    margin-top: 150px;
    font-size: 70px;
    color: white;
    transform: translate(0,0);
    opacity: 1;
  }

  section.section5 h3{
    width: 100%;
    margin-top: 250px;
    font-size: 21px;  
    line-height: 35px;
    letter-spacing: -1px;
    color: white;
    transform: translate(0,50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section5 h3.on{
    width: 100%;
    margin-top: 250px;
    font-size: 21px;  
    line-height: 35px;
    letter-spacing: -1px;
    color: white;
    transform: translate(0,0);
    opacity: 1;
  }


  section.section5 .d0200{
    background: url(./img/update_02.png) no-repeat center;
    width: 190px;
    height: 36px;
    margin: 0 auto;
    margin-top: 30px;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section5 .d0200.on{
    background: url(./img/update_02.png) no-repeat center;
    width: 190px;
    height: 36px;
    margin: 0 auto;
    margin-top: 30px;
    transform: translate(0,0px);
    opacity: 1;
    transition: all .5s;
  }


  section.section5 .preview{
    position: absolute;
    background: url(./img/s5_c1.png);
    width: 368px;
    height: 548px;
    left: 50%;
    transform: translate(0,150px);
    opacity: 0;
    transition: all .5s;
  }
  section.section5 .preview.on{
    position: absolute;
    background: url(./img/s5_c1.png);
    width: 368px;
    height: 548px;
    left: 50%;
    transform: translate(0,100px);
    opacity: 1;
  }

  section.section5 .reward{
    position: absolute;
    background: url(./img/s5_c2.png);
    width: 368px;
    height: 548px;
    left: 50%;
    transform: translate(340px, 80px);
    opacity: 0;
    transition: all .5s;
  }
  section.section5 .reward.on{
    position: absolute;
    background: url(./img/s5_c2.png);
    width: 368px;
    height: 548px;
    left: 50%;
    transform: translate(340px, 30px);
    opacity: 1;
  }

  /* section6 */

  section.section6 {
    background: url(./img/s6_bg.jpg) center;
    width: 2560px;
    height: 1400px;
    margin: 0 auto;
    transform: translate(0,-156px);
    position: relative;
    padding: 1px;
  }

  section.section6 h2{
    position: absolute;
    width: 100%;
    margin-top: 150px;
    font-size: 70px;
    color: white;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section6 h2.on{
    position: absolute;
    width: 100%;
    margin-top: 150px;
    font-size: 70px;
    color: white;
    transform: translate(0, 0);
    opacity: 1;
    transition: all .5s;
  }

  section.section6 h3{
    width: 100%;
    margin-top: 250px;
    font-size: 21px;  
    line-height: 35px;
    letter-spacing: -1px;
    color: white;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section6 h3.on{
    width: 100%;
    margin-top: 250px;
    font-size: 21px;  
    line-height: 35px;
    letter-spacing: -1px;
    color: white;
    transform: translate(0, 0px);
    opacity: 1;
    transition: all .5s;
  }
  section.section6 .d0400{
    background: url(./img/update_04.png) no-repeat center;
    width: 190px;
    height: 36px;
    margin: 0 auto;
    margin-top: 20px;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section6 .d0400.on{
    background: url(./img/update_04.png) no-repeat center;
    width: 190px;
    height: 36px;
    margin: 0 auto;
    margin-top: 20px;
    transform: translate(0, 0px);
    opacity: 1;
  }

  /* section7 */

  section.section7 {
    background: url(./img/s7_bg.jpg);
    width: 2560px;
    height: 2820px;
    position: relative;
    margin: 0 auto;
    padding: 1px;
    transform: translate(0,-156px);
  }

  section.section7 h2{
    position: absolute;
    width: 100%;
    margin-top: 150px;
    font-size: 70px;
    color: white;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }

  section.section7 h3{
    width: 100%;
    margin-top: 250px;
    font-size: 21px;  
    line-height: 35px;
    letter-spacing: -1px;
    color: white;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section7 h2.on{
    position: absolute;
    width: 100%;
    margin-top: 150px;
    font-size: 70px;
    color: white;
    transform: translate(0, 0px);
    opacity: 1;
  }

  section.section7 h3.on{
    width: 100%;
    margin-top: 250px;
    font-size: 21px;  
    line-height: 35px;
    letter-spacing: -1px;
    color: white;
    transform: translate(0, 0px);
    opacity: 1;
  }

  section.section7 .c1 {
    background: url(./img/s7_c1.png) center;
    height: 1830px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -1px;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section7 .c2 {
    background: url(./img/s7_c2.png) center no-repeat;
    height: 1830px;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all .5s;
  }
  section.section7 .c1.on {
    background: url(./img/s7_c1.png) center;
    height: 1830px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -1px;
    transform: translate(0, 0);
    opacity: 1;
  }
  section.section7 .c2.on {
    background: url(./img/s7_c2.png) center no-repeat;
    height: 1830px;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translate(0, 0);
    opacity: 1;
  }

  /* section8 */

  section.section8 {
    background: url(./img/s8_bg.jpg);
    width: 2560px;
    height: 1300px;
    margin: 0 auto;
    padding: 1px ;
    position: relative;
    transform: translate(0,-159px);
  }

  section.section8 h2{
    position: absolute;
    width: 100%;
    margin-top: 400px;
    font-size: 75px;
    color: white;
    mix-blend-mode: overlay;
  }

  section.section8 h3{
    width: 100%;
    margin-top: 500px;
    font-size: 21px;  
    line-height: 35px;
    letter-spacing: -1px;
    color: white;
    mix-blend-mode: overlay;
  }
  


.swiper {
  width: 2560px;
  height: 800px;
}

.swiper-slide{
  background-image: url(./img/s1_c1.png);
}

.roTlqkf {
  width: 500px;
  height: 500px;
  border: solid 1px red;
  margin: 0 auto;
  overflow: hidden;
}

.rotoRL {
  width: 100%;
  height: 100%;
  background: url(./img/s7_c1.png)  no-repeat;
  background-size: contain;
}
.rotoRL:hover {
  width: 100%;
  height: 100%;
  background: url(./img/s7_c1.png)  no-repeat;
  background-size: contain;
  transform: scale(1.2);
}