body {
  height: 6000px;
}

.wraper {
  width: 100%;
  margin: 0 auto;
}

.intothejoongcheon {
  position: relative;
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  
}

.intothejoongcheon h2{
  font-size: 70px;
  font-weight: 800;
  letter-spacing : -5px

}


.login_bar {
  display: flex;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #3f4554;
  border-bottom: 1px solid #1d2127;
  z-index: 800;
}

.login_bar .left_item {
  display: flex;
  align-items: center;
}

.login_bar .lb_logo {
  background-image: url(./img/lognbar_logo.png);
  width: 140px;
  height: 49px;
}

.login_bar a.lb_btn.nx {
  background-color: #3392ff;
  border-radius: 0 2px 2px 0;
  ;
}

.login_bar a.lb_btn.df {
  background-color: #565b68;
  ;
  border-radius: 2px 0 0 2px;
  ;
}

.login_bar a.lb_btn {
  width: 110px;
  height: 34px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
  text-indent: 0;
}

.right_item {
  margin-left: auto;
  display: flex;
}

.login_bar .lb_btn_gs {
  width: 240px;
  height: 49px;
  background-image: url(./img/lognbar_gamestart.png);
}

.login_bar .lb_btn_nav {
  width: 55px;
  height: 49px;
  background-image: url(./img/btn_open_nav.png);
  cursor: pointer;
}

.bnrs{
  position: absolute;
}


.bnrs a {
  display: block;
  width: 260px;
  height: 120px;
  margin-bottom: 1px;
}

/* section */

.visual_fix {

}

section .tvfbox_img {
  width: 100%;
  height: 1600px;
  background: url(./img/intro_bg2.jpg) no-repeat;
  background-position: center;
}

.cloudb{
  background: url(./img/intro_cloud_b.png);
  width: 100%;
  height: 1600px;
  position: absolute;
  top: 0;
  background-position: center;
}

section.section1 {
  background: url(./img/s1_bg.jpg);
  height: 1680px;
}


section.section1 .txt1{
  margin-top: 200px;
  opacity: 0;
  transform: translate(0,50px);
  transition: all .7s;
}
section.section1 .txt1.on{
  opacity: 1;
  transform: translate(0,0);
}

section .txt2{
  margin-top: 50px;
  font-size: 20px;
  color: #666;
  opacity: 0;
  transition: all .7s;
  transform: translate(0,50px);
}

section .txt2.on{
  opacity: 1;
  transform: translate(0,0px);
}

section.section1 .txt3{
  margin-top: 100px;
  font-size: 60px;
  opacity: 0;
  transform: translate(0,50px);
  transition: all .7s;
}
section.section1 .txt3.on{
  opacity: 1;
  transform: translate(0,0);
}

section .txt4{
  margin-top: 30px;
  font-size: 20px;
  color: #666;
  opacity: 0;
  transition: all .7s;
  transform: translate(0,50px);
}

section .txt4.on{
  opacity: 1;
  transform: translate(0,0px);
}


.secimg1 {
  margin-top: 100px;
  background: url(img/s1_c1.png) no-repeat;
  width: 100%;
  height: 900px;
  background-position: center;
  border-radius: 40px;
  opacity: 0;
  transition: all .7s;
  transform: translate(0,50px);
}

.secimg1.on {
  opacity: 1;
  transform: translate(0,0px);
}

/* 섹션2 */

section.section2 {
  position: relative;
  background-position: center;
  height: 1680px;
  margin-top: -300px;
}


/* 첫번째 */
.scene1 .bg1{
  position: absolute;
  background: url(./img/s2_bg1.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 10;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
.scene1 .bg1.show{
  position: absolute;
  background: url(./img/s2_bg1.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 10;
  background-position: center;
  opacity: 1;
}

section.section2 .c1{
  position: absolute;
  background: url(./img/s2_c1.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);

}
section.section2 .c1.show{
  position: absolute;
  background: url(./img/s2_c1.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  transform: translate(0,0);
  opacity: 1;
}


section.section2 .c2{
  position: absolute;
  background: url(./img/s2_c2.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 12;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c2.show{
  position: absolute;
  background: url(./img/s2_c2.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 12;
  opacity: 1;
  transform: translate(0px,0);
}

section.section2 p.t1{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 15;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
  transition-delay: .2s;
}
section.section2 p.t1.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 15;
  opacity: 1;
  transform: translate(0,0px);
}
section.section2 p.t2{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 16;
  opacity: 0;
  transform: translate(0,100px);
  transition: all .55s;
  transition-delay: .2s;
}
section.section2 p.t2.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 16;
  opacity: 1;
  transform: translate(0,0px);
}
/* 두번째 */

section.section2 .bg2{
  position: absolute;
  background: url(./img/s2_bg2.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 9;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
section.section2 .bg2.show{
  position: absolute;
  background: url(./img/s2_bg2.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 9;
  background-position: center;
  opacity: 1;
  transition: all .55s;
}

section.section2 .c3{
  position: absolute;
  background: url(./img/s2_c3.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);
}
section.section2 .c3.show{
  position: absolute;
  background: url(./img/s2_c3.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 11;
  transition: all .55s;
  opacity: 1;
  transform: translate(0px,0);
}
section.section2 .c4{
  position: absolute;
  background: url(./img/s2_c4.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c4.show{
  position: absolute;
  background: url(./img/s2_c4.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transition: all .55s;
  transform: translate(0,0);
}

section.section2 p.t3{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
}
section.section2 p.t3.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 1;
  transform: translate(0,0);
  transition-delay: .2s;
}
section.section2 p.t4{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);

}
section.section2 p.t4.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 1;
  transform: translate(0,0);
  transition-delay: .2s;
}

/* 세번째 */
section.section2 .bg3{
  position: absolute;
  background: url(./img/s2_bg3.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
section.section2 .bg3.show{
  position: absolute;
  background: url(./img/s2_bg3.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 1;
}

section.section2 .c5{
  position: absolute;
  background: url(./img/s2_c5.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);
}
section.section2 .c5.show{
  position: absolute;
  background: url(./img/s2_c5.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transform: translate(0px,0);
}
section.section2 .c6{
  position: absolute;
  background: url(./img/s2_c6.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c6.show{
  position: absolute;
  background: url(./img/s2_c6.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 1;
  transform: translate(0px,0);
}

section.section2 p.t5{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
}
section.section2 p.t5.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 1;
  transform: translate(0,0);
}
section.section2 p.t6{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
}
section.section2 p.t6.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 1;
  transition: all .5s;
  transform: translate(0,0);
}
/* 네번째 */
section.section2 .bg4{
  position: absolute;
  background: url(./img/s2_bg4.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 0;
  transition: all .55s;
}
section.section2 .bg4.show{
  position: absolute;
  background: url(./img/s2_bg4.jpg) no-repeat;
  height: 1680px;
  width: 100%;
  z-index: 8;
  background-position: center;
  opacity: 1;
}

section.section2 .c7{
  position: absolute;
  background: url(./img/s2_c7.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  transition: all .55s;
  transform: translate(-150px,0);
}
section.section2 .c7.show{
  position: absolute;
  background: url(./img/s2_c7.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 9;
  opacity: 1;
  transform: translate(0px,0);
}
section.section2 .c8{
  position: absolute;
  background: url(./img/s2_c8.png) no-repeat;
  background-position: center;
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all .55s;
  transform: translate(150px,0);
}
section.section2 .c8.show{
  position: absolute;
  background: url(./img/s2_c8.png) no-repeat;
  background-position: center;  
  height: 1680px;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transform: translate(0px,0);
}

section.section2 p.t7{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
  transition-delay: .2s;
}
section.section2 p.t7.show{
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 400px;
  left: 0;
  color: white;
  z-index: 11;
  opacity: 1;
  transform: translate(0,0);
}
section.section2 p.t8{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 0;
  transition: all .5s;
  transform: translate(0,100px);
  transition-delay: .2s;
}
section.section2 p.t8.show{
  width: 100%;
  font-size: 25px;
  position: absolute;
  bottom: 350px;
  left: 0;
  color: #999;
  z-index: 12;
  opacity: 1;
  transform: translate(0,0);
}


.bu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 240px;
    margin-left: -90px;
    width: 180px;
    height: 56px;
    border-radius: 28px;
    background: rgba(0, 0, 0, .37);
    z-index: 30;
}

.bu_btn a{
  margin: 0 10px;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #333;
  text-indent: -9999px;
  cursor: pointer;
}
.bu_btn a.on{
background-color: #e32443;
}

.left_btn {
  background: url(./img/btn_prev.png) no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 800px;
  left: 100px;
  z-index: 50;
  cursor: pointer;
}
.right_btn {
  background: url(./img/btn_next.png) no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 800px;
  right: 100px;
  z-index: 40;
  cursor: pointer;
}



/* section3 */



.intothejoongcheon section.section3 {
  background: url(./img/s3_bg.jpg) center no-repeat;
  height: 2100px;
  padding: 1px;
  position: relative;
}

.intothejoongcheon section.section3 h2{
  position: absolute;
  width: 100%;
  margin-top: 150px;
  font-size: 70px;
  color: white;
}
.intothejoongcheon section.section3 h3{
  width: 100%;
  margin-top: 250px;
  font-size: 25px;  
  color: white
}

section.section3 .obj1{
  background: url(./img/s3_c1.png) no-repeat center;
  position: absolute;
  height: 280px;
  width: 100%;
  top: 400pX;
}
  
section.section3 .obj2{
  background: url(./img/s3_c2.png) no-repeat center;
  position: absolute;
  height: 300px;
  width: 100%;
  top: 600px;
}

section.section3 .card-box {
  background-color: #3392ff;
  position: absolute;
  width: 1440px;
  height: 1200px;
  margin-left: -720px;
  top: 900px;
  left: 50%;
}



section.section3 .card1 {
  background: url(/img/s3_card1.png) no-repeat ;
  width: ;
}



section.section3 .card2 {

}



section.section3 .card3 {

}













.swiper {
  width: 2560px;
  height: 800px;
}

.swiper-slide{
  background-image: url(./img/s1_c1.png);
}